mixin sNews(data)
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container-fluid.custom-container
			+b.section-title
				h2 Контент по теме
			mixin item(img, title, text)
				+e.item(href='#')
					+e.img-wrap
						+img(`img/${img}`, 'bg')
					+e.content
						h4!= title
						p!= text
						+e.tag Сервисы и услуги
			+e.row.row
				.col-md-6.col-xl-4.col-xxl-3
					+item('sNews-img-1.png', 'ТОП-8 лучших интернет-магазинов для покупки ключей Steam&nbsp;&mdash; Рейтинг 2023 года', 'Если покупаете игры только в&nbsp;магазине Стим, то&nbsp;можете упустить выгодные предложения. Существует целая категория интернет-магазинов, продающих недорогие...')
				.col-md-6.col-xl-4.col-xxl-3
					+item('sNews-img-2.png', 'ТОП-8 лучших интернет-магазинов для покупки ключей Steam&nbsp;&mdash; Рейтинг 2023 года', 'Если покупаете игры только в&nbsp;магазине Стим, то&nbsp;можете упустить выгодные предложения. Существует целая категория интернет-магазинов, продающих недорогие...')
				.col-md-6.col-xl-4.col-xxl-3
					+item('sNews-img-3.png', 'ТОП-8 лучших интернет-магазинов для покупки ключей Steam&nbsp;&mdash; Рейтинг 2023 года', 'Если покупаете игры только в&nbsp;магазине Стим, то&nbsp;можете упустить выгодные предложения. Существует целая категория интернет-магазинов, продающих недорогие...')
				.col-md-6.col-xl-4.col-xxl-3.d-block.d-xl-none.d-xxl-block
					+item('sNews-img-4.png', 'ТОП-8 лучших интернет-магазинов для покупки ключей Steam&nbsp;&mdash; Рейтинг 2023 года', 'Если покупаете игры только в&nbsp;магазине Стим, то&nbsp;можете упустить выгодные предложения. Существует целая категория интернет-магазинов, продающих недорогие...')
	// end sNews

mixin sNews2(data)
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container-fluid
			mixin item(img, title, text)
				+e.item(href='#')
					+e.img-wrap
						+img(`img/${img}`, 'bg')
					+e.content
						h4!= title
						p!= text
						+e.tag Сервисы и услуги
			+e.row.row
				+e.col.col-md-6.col-xl-4.col-xxl-3
					+item('sNews-img-5.png', 'ТОП-8 лучших интернет-магазинов для покупки ключей Steam&nbsp;&mdash; Рейтинг 2023 года', 'Если покупаете игры только в&nbsp;магазине Стим, то&nbsp;можете упустить выгодные предложения. Существует целая категория интернет-магазинов, продающих недорогие...')
				+e.col.col-md-6.col-xl-4.col-xxl-3
					+item('sNews-img-6.png', 'ТОП-8 лучших интернет-магазинов для покупки ключей Steam&nbsp;&mdash; Рейтинг 2023 года', 'Если покупаете игры только в&nbsp;магазине Стим, то&nbsp;можете упустить выгодные предложения. Существует целая категория интернет-магазинов, продающих недорогие...')
				+e.col.col-md-6.col-xl-4.col-xxl-3
					+item('sNews-img-7.png', 'ТОП-8 лучших интернет-магазинов для покупки ключей Steam&nbsp;&mdash; Рейтинг 2023 года', 'Если покупаете игры только в&nbsp;магазине Стим, то&nbsp;можете упустить выгодные предложения. Существует целая категория интернет-магазинов, продающих недорогие...')
				+e.col.col-md-6.col-xl-4.col-xxl-3
					+item('sNews-img-8.png', 'ТОП-8 лучших интернет-магазинов для покупки ключей Steam&nbsp;&mdash; Рейтинг 2023 года', 'Если покупаете игры только в&nbsp;магазине Стим, то&nbsp;можете упустить выгодные предложения. Существует целая категория интернет-магазинов, продающих недорогие...')
				+e.col.col-md-6.col-xl-4.col-xxl-3.d-none.d-lg-block
					+item('sNews-img-1.png', 'ТОП-8 лучших интернет-магазинов для покупки ключей Steam&nbsp;&mdash; Рейтинг 2023 года', 'Если покупаете игры только в&nbsp;магазине Стим, то&nbsp;можете упустить выгодные предложения. Существует целая категория интернет-магазинов, продающих недорогие...')
				+e.col.col-md-6.col-xl-4.col-xxl-3.d-none.d-lg-block
					+item('sNews-img-2.png', 'ТОП-8 лучших интернет-магазинов для покупки ключей Steam&nbsp;&mdash; Рейтинг 2023 года', 'Если покупаете игры только в&nbsp;магазине Стим, то&nbsp;можете упустить выгодные предложения. Существует целая категория интернет-магазинов, продающих недорогие...')
				+e.col.col-md-6.col-xl-4.col-xxl-3.d-none.d-xxl-block
					+item('sNews-img-3.png', 'ТОП-8 лучших интернет-магазинов для покупки ключей Steam&nbsp;&mdash; Рейтинг 2023 года', 'Если покупаете игры только в&nbsp;магазине Стим, то&nbsp;можете упустить выгодные предложения. Существует целая категория интернет-магазинов, продающих недорогие...')
				+e.col.col-md-6.col-xl-4.col-xxl-3.d-none.d-xxl-block
					+item('sNews-img-4.png', 'ТОП-8 лучших интернет-магазинов для покупки ключей Steam&nbsp;&mdash; Рейтинг 2023 года', 'Если покупаете игры только в&nbsp;магазине Стим, то&nbsp;можете упустить выгодные предложения. Существует целая категория интернет-магазинов, продающих недорогие...')
			+pagin-lg().d-none.d-lg-block
			+pagin-sm().d-block.d-lg-none
	// end sNews