include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		+e.toggle--js: +icon("search")
		+e.content
			form
				input(type="text" placeholder="Поиск")
				+e.BUTTON.search 
					+icon("search")
				+e.close
					+icon("cross")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		+breadcrumb(...items)

		h1!= t

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin sidebar(second)
	+b.commentsSidebar
		if second
			h6 Комментарии
		else
			a(href="#").h5 
				| Комментарии
				+icon('chevronRight')
		mixin item(i, text, name='&lt;Username&gt;', date='date/time')
			+e.item
				+e.head
					+e.avatar(style="--bgColor: #2ABD00"): +img(`img/avatar-${i}.jpg`)
					div
						+e.name!= name
						+e.date!= date
				p!= text
		if second
			block 
		else
			+item(1, 'Цена порции не&nbsp;остановит студента? Сколько их&nbsp;там в&nbsp;стаканчике? 8&nbsp;штук? А&nbsp;в&nbsp;том&nbsp;же Ермолино можно на&nbsp;эти деньги килограмм купить.')
			+item(3, 'Вот так всегда, не&nbsp;успели придумать, а&nbsp;китайцы уже украли идею и&nbsp;даже запустили производство. Видимо, секретные чертежи утекли))')
			+item(2, 'Российские инноваторы&nbsp;&mdash; саммые инновационные. А&nbsp;потом, когда их&nbsp;посадят за&nbsp;нецелевые растраты госбабок, будут ныть на&nbsp;хабре, что инновации в&nbsp;РФ невозможны.')
			+item(1, 'Я&nbsp;подумал, что автомат просто похожий, так это тупо 1&nbsp;в 1. Дамплинги это фактически и&nbsp;есть вариация пельменей.')
			+item(3, 'Кроме лени, зачастую нет просто времени, вот и&nbsp;удобства подъехали, главное чтоб было качественно и&nbsp;вкусно.')
		+e.btn.btn.btn-light(href='#') Все комментарии

mixin backToTop()
	+b.backToTop: +icon('chevron-up')

mixin modalSidebar()
	+b.modal-sidebar
		+e.profile(href='#')
			+img('img/avatar-12.jpg')
			div
				p Александр
				span Редактировать
		ul
			li: a.active(href="#") Мои отзывы  
			li: a(href="#") Комментарии
			li: a(href="#") Избранное
			li: a(href="#") Уведомления
		+e.support(href='#') Поддержка
		+e.log-out(href='#')
			+icon('log-out')
			| Выйти